</main>
<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    <div class="waves"></div>
    <ul class="menu">
        <li><a href="#">Home</a></li> <!-- Top of main page -->
        <li><a href="#">Skills</a></li> <!-- Part-way through main page -->
        <li><a href="#">Projects</a></li> <!-- Part-way through main page -->
        <li><a href="#">Interests</a></li> <!-- Interests page -->
        <li><a href="#">Post</a></li> <!-- Part-way through main page -->
        <li><a href="#">Contact</a></li> <!-- Contact page -->
    </ul>
</footer>