<%- include("partials/header.ejs") %>

<p>
    In my free time, I like to work on environmental advocacy. Here's some stuff I'm involved in.
</p>

<h2>Palatine Cool Cities</h2>
<p>We're trying to get Palatine to include food waste collection in its waste services.</p>

<h2>Harper sustainability committee</h2>
<p>This is a new committee at my college.</p>



<%- include('partials/footer.ejs') %>